<% include ./parts/header %>
    <h2>Alle Kontorer</h2>
    
    <section>
        <img src="" alt="">
        <h2>Title</h2>
        <p>Description</p>
        <p>Price 300kr</p>    
        <p>ledig, eller ikke ledig</p>
    </section>

<% include ./parts/footer %>