<% include ./parts/header %>
    <form action="/signup" method="post" novalidate>

        <label for="email">E-mail: </label><br>
        <input type="email" name="email" id="email" value="<%= (typeof email != 'undefined') ? email : '' %>" required>

        <br><br>

        <label for="username">Brugernavn: </label><br>
        <input type="text" name="username" id="username" value="<%= (typeof username != 'undefined') ? username : '' %>" required>

        <br><br>

        <label for="password">Kodeord: </label><br>
        <input type="password" name="password" id="password" required>

        <br><br>

        <label for="passwordAgain">Gentag Kodeord: </label><br>
        <input type="password" name="passwordAgain" id="passwordAgain" required>

        <br><br>

        <button type="submit">Opret bruger</button>

        <small><%= ( typeof errorMessage != 'undefined' ) ? errorMessage : '' %></small>
    </form>
<% include ./parts/footer %>