<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/css/admin_panel.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>

    

    <main class="admin_main">
        <i class="fas fa-bars" id="slider_menu"></i>
        
        <!--COMPUTER ASIDE-->
        <aside class="admin_aside_navigation admin_aside_pc">
            <p>Hej <span class="admin_username"><%= (typeof showUsername != 'undefined' ) ? showUsername : ''  %></span></p>
            <h1><a href="/">Oluf Graversvejs Kontorfællesskab</a></h1>
            <nav class="admin_nav_pc">
                <ul>
                    <li><a href="/admin" class="admin_home">Admin Panel</a></li>
                    <li><a href="/admin/ads" class="admin_ads">Announcer</a></li>
                    <li><a href="/admin/booked-offices" class="admin_booked-offices">Booked Kontorer</a></li>
                </ul>
            </nav>
        </aside>


        <!--MOBILE ASIDE-->
        <aside class="admin_aside_navigation admin_aside_mobile">
            <p>Hej <span class="admin_username"><%= (typeof showUsername != 'undefined' ) ? showUsername : ''  %></span></p>
            <h1><a href="/">Webshops</a></h1>
            <nav class="admin_nav_pc">
                <ul>
                    <li><a href="/admin" class="admin_home">Admin Panel</a></li>
                    <li><a href="/admin/ads" class="admin_ads">Announcer</a></li>
                    <li><a href="/admin/booked-offices" class="admin_booked-offices">Booked Kontorer</a></li>
                </ul>
            </nav>
        </aside>