<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title><%= (typeof title != 'undefined') ? title : '' %> | Oluf Graversvejs Kontorfællesskab</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        
        <header>
            
            <h1><a href="/">Oluf Graversvejs Kontorfællesskab</a></h1>
            
            <nav>
                <ul>
                    <li><a href="/">Hjem</a></li>
                    <li><a href="/ads">Announcer</a></li>
                    <li><a href="/booking">Booking</a></li>
                </ul>
            </nav>

            <% if (login === false ) { %>
                <a href="/login" class="login_links">Log ind</a>
                <a href="/signup" class="login_links">Opret Bruger</a>
            <% } else { %>
                <a href="/logout" class="login_links">Log ud</a>
            <% } %>

        </header>
        <main>
