<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title><%= (typeof title != 'undefined') ? title : '' %></title>
    </head>
    <body>
        
        <header>
            
            <h2><a href="/">Oluf Graversvejs Kontorfællesskab</a></h2>
            
            <nav>
                <ul>
                    <li><a href="/">Hjem</a></li>
                    <li><a href="/booking">Booking</a></li>
                </ul>
            </nav>

            <a href="/login" class="login_logout">Log ind</a>

        </header>
